.pinboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  object-fit: cover;
  background-attachment: scroll;
  z-index: -1; /* put it behind other content */
}

.pin {
  background-color: transparent;
  position: absolute;
  cursor: grab;
  object-fit: cover;
  perspective: 1000px;

}

.pin-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d
}

.pin:hover:not(.dragging) .pin-inner {
  transform: rotateY(180deg);
}

  /* Position the front and back side */
.pin-front, .pin-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.pin-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.pin-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}