.pinboard {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    object-fit: cover;
    z-index: -1; /* put it behind other content */
  }

  .pin {
    position: absolute;
    cursor: grab;
    object-fit: cover;

  }